<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gos_avtoinspekciya.Properties.Settings.Gos_avtoinspekciyaConnectionString"
            connectionString="Data Source=LAPTOP-82TL9N1K\SQLEXPRESS;Initial Catalog=Gos_avtoinspekciya;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>